@font-face {
  font-family: "iconfont"; /* Project id 4713324 */
  src: url('iconfont.woff2?t=1734370547815') format('woff2'),
       url('iconfont.woff?t=1734370547815') format('woff'),
       url('iconfont.ttf?t=1734370547815') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-daosanjiao:before {
  content: "\e62d";
}

.icon-wode2:before {
  content: "\e62a";
}

.icon-qiandao0101:before {
  content: "\e617";
}

.icon-zhiyuandidian1:before {
  content: "\e610";
}

.icon-hongbao:before {
  content: "\e678";
}

.icon-icon_notice:before {
  content: "\e60b";
}

.icon-saoyisao:before {
  content: "\e60d";
}

.icon-daifukuan:before {
  content: "\e614";
}

.icon-quanbu:before {
  content: "\e650";
}

.icon-shezhi:before {
  content: "\e626";
}

.icon-kefu:before {
  content: "\e613";
}

.icon-icon-test:before {
  content: "\e624";
}

.icon-dianping:before {
  content: "\e61a";
}

.icon-gengduo2:before {
  content: "\e64f";
}

.icon-lipinka:before {
  content: "\e753";
}

.icon-V:before {
  content: "\e627";
}

.icon-huiyuanzhongxin:before {
  content: "\e615";
}

.icon-dingdanguanli:before {
  content: "\e779";
}

.icon-chuhangqingdan:before {
  content: "\e6d5";
}

.icon-gift-full:before {
  content: "\e8b5";
}

.icon-xiaohuojian:before {
  content: "\e630";
}

.icon-diqiu:before {
  content: "\e625";
}

.icon-baoxiaopingzheng:before {
  content: "\e616";
}

.icon-a-profilexiecheng:before {
  content: "\e621";
}

.icon-daichuhang:before {
  content: "\e80a";
}

.icon-mendian:before {
  content: "\e622";
}

.icon-a-weibiaoti-1_huaban1:before {
  content: "\e683";
}

.icon-icon_home_service:before {
  content: "\e618";
}

.icon-hangbandongtai:before {
  content: "\e619";
}

.icon-dingdan:before {
  content: "\e623";
}

.icon-jiangpai:before {
  content: "\e628";
}

.icon-jiangpin:before {
  content: "\e671";
}

.icon-xinxi:before {
  content: "\e629";
}

.icon-zuche:before {
  content: "\e605";
}

.icon-biji:before {
  content: "\e61e";
}

.icon-gengduo1:before {
  content: "\e879";
}

.icon-yinfu2:before {
  content: "\e62c";
}

.icon-wode1:before {
  content: "\e60c";
}

.icon-jingyin:before {
  content: "\e61f";
}

.icon-feiji:before {
  content: "\e63e";
}

.icon-didian:before {
  content: "\e61c";
}

.icon-AIrengongzhineng:before {
  content: "\ed81";
}

.icon-didian1:before {
  content: "\e667";
}

.icon-jiudian:before {
  content: "\e642";
}

.icon-yezishu:before {
  content: "\e606";
}

.icon-wen2:before {
  content: "\e677";
}

.icon-wen3:before {
  content: "\e607";
}

.icon-shangsheng:before {
  content: "\e60e";
}

.icon-ditu:before {
  content: "\e778";
}

.icon-ziyuan109:before {
  content: "\e643";
}

.icon-xiechenglvyou:before {
  content: "\e6a8";
}

.icon-af_special:before {
  content: "\e802";
}

.icon-biaoqian:before {
  content: "\e65d";
}

.icon-huoche1:before {
  content: "\e608";
}

.icon-jifen:before {
  content: "\e63d";
}

.icon-gonglve1:before {
  content: "\e60f";
}

.icon-emoji_add_outlined:before {
  content: "\e7fe";
}

.icon-xianluguihua:before {
  content: "\e60a";
}

.icon-minsu:before {
  content: "\100e2";
}

.icon-zuanshi2:before {
  content: "\12260";
}

.icon-xianluguihua1:before {
  content: "\e657";
}

.icon-huiyuan:before {
  content: "\e715";
}

.icon-xiecheng-copy:before {
  content: "\e604";
}

.icon-xiecheng:before {
  content: "\e62b";
}

.icon-tianjiajiahao:before {
  content: "\e661";
}

.icon-shequ2:before {
  content: "\e602";
}

.icon-zuanshi:before {
  content: "\e61d";
}

.icon-hangcheng:before {
  content: "\e640";
}

.icon-xiaoxi:before {
  content: "\e61b";
}

.icon-iconfontzhizuobiaozhun023110:before {
  content: "\e670";
}

.icon-xingqiuweixuanzhong:before {
  content: "\e601";
}

.icon-shouye1:before {
  content: "\e620";
}

.icon-lansexingqiuputong:before {
  content: "\e67f";
}

.icon-xingqiu-copy:before {
  content: "\e603";
}

.icon-yejing:before {
  content: "\e600";
}

.icon-aixin:before {
  content: "\e67c";
}

.icon-ningmeng:before {
  content: "\e612";
}

.icon-gengduo:before {
  content: "\e611";
}

.icon-shequ:before {
  content: "\e8b8";
}

.icon-login:before {
  content: "\e688";
}

.icon-sousuo:before {
  content: "\e609";
}

.icon-QQ:before {
  content: "\e65b";
}

.icon-wode:before {
  content: "\e68d";
}

